<!DOCTYPE html>
<html>
<link href="stylesheet.css" type="text/css" rel="stylesheet">
<head>
    <div class="header">
        <h1>Spring Clean your Passwords and Accounts
            <button class="help-button" title="Help Page">?</button>
        </h1>
    </div>
</head>
<body class="help-page">
    <h1 class="help-text">Hello!</h1>
    <h2 class="help-text">I'm Lewis Fleming, a 4th year computer science student at the University of Strathclyde, and this is my 4th year project 'A Browser Add-on to Support Password Spring Cleaning'.</h2>
    <p class="help-text">
        The aim of this extension is to help you improve your security online by giving you a place to easily track websites you may have accounts for, allowing you to update the security on these accounts e.g., by making passwords stronger and more unique or deactivating old accounts you no longer use. 
        <br>
        <h3 class="help-text">WHY?</h3> 
    </p>
    <br>
    <p class="help-text">
        Due to the tendency people have to reuse passwords over multiple accounts, and lose track of where they have done so, there is a large security risk which a lot of people face. This is that an attacker could potentially compromise one of your accounts, gaining your personal information such as passwords and emails, then use this to access all other accounts registered with the same information.  
        <br>    
        However, by identifying your accounts then updating the security on them and storing them in an account manager, this risk can be mitigated dramatically making you less vulnerable to attacks of such nature.  
        <br>
    </p>
    <h3 class="help-text">HOW?</h3> 
    <p class="help-text" id="bottom-para">
        <br>
        To make best use of this extension, you should set up the chrome password manager, if you haven't already, to store your accounts and passwords. This will help you keep track of your accounts and help you identify where you are reusing passwords and even notify you if your information has shown up in a data breach.  
        <br>
        <br>
        FYI, the chrome password store is secure and its use is even advised by the UK Government. 
        <br>
        <br>
        <button id="ncsc-button">
            Click here to go to the Government Page!
        </button>
        <br>
        <br>
        Identify a website from the extension that you have an account with that you would like to update the security on. 
        <br>
        <br>
        Click the 'Update Security on Account' button and navigate to your account information in the website. From here, you can change your password to make it more unique then save it in the browser password store when prompted by chrome.  
        <br>
        <br>
        After you have done this, go back on the extension and find the website in it. Click the 'Remove from Extension' button which stops the website showing up in the extension again as you have successfully updated your security.  
    </p>
    <div class="nav">
        <a href="#freq" class="active" id="nav1">Frequently Used Accounts</a>
        <a href="#settings" id="nav3">Settings</a>
    </div> 
    <script src="/Model/help.js" type="text/javascript"></script>
</body>
</html>
