<!DOCTYPE html>
<html>
<link href="stylesheet.css" type="text/css" rel="stylesheet">
<head>
    <div class="header">
        <h1>Spring Clean your Passwords and Accounts
            <button class="help-button" id="hb1" title="Help Page">?</button>
        </h1>
    </div>
</head>
<body>
    <div class="container" id="items"></div>
    <div class="nav">
        <a href="#freq" class="active" id="nav1">Frequently Used Websites</a>
        <a href="#settings" id="nav3">Settings</a>
    </div>   
    <script src="/Model/database.js" type="text/javascript"></script>
    <script src="/Model/popup.js" type="text/javascript"></script>
    <script src="/Controller/controller.js" type="text/javascript"></script>
</body>
</html>
